<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">I'm Super Bootstrappy</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Look at me go!</a></li>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>


<div class="container">
  <div class="alert alert-danger" role="alert">Open the pod bay doors HAL!</div>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Dodge</a></li>
    <li role="presentation"><a href="#">Dip</a></li>
    <li role="presentation"><a href="#">Dive</a></li>
    <li role="presentation"><a href="#">Duck</a></li>
    <li role="presentation"><a href="#">Dodge</a></li>
  </ul>

  <div class="page-header">
    <h1>I wonder how many places I've already visited for the last time</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="#">Follow the Yellow</a></li>
    <li><a href="#">Brick</a></li>
    <li class="active">Road</li>
  </ol>

  <div class="jumbotron">
    <h1>What if sorrows swim?</h1>
    <p>Good God, we're gonna need to burn them.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Burn them</a></p>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      I've lost the bleeps, I've lost the sweeps, and I've lost the creeps.
    </div>
    <div class="panel-body">
      You got to help me. I don’t know what to do. I can’t make decisions. I’m the president.
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Chocolate cake danish chocolate cake oat cake pastry lemon drops cheesecake powder jujubes. Macaroon macaroon soufflé pudding jujubes sesame snaps sugar plum. Topping halvah cotton candy apple pie. Jelly beans sweet roll marshmallow brownie marzipan. Applicake chocolate pie chocolate bar. Oat cake soufflé lemon drops ice cream gummi bears.</p>
    </div>

    <div class="col-md-6">
      <p>Bacon ipsum dolor amet pig landjaeger ham hock jowl swine fatback ball tip shoulder. Kielbasa beef ribs ground round landjaeger biltong tail jowl jerky bacon doner ham short loin pork chop. Short loin kielbasa hamburger shank turkey landjaeger. Tenderloin pork belly flank pork chop, landjaeger shankle pork ham boudin alcatra strip steak. Beef flank rump pork belly sausage andouille frankfurter turkey.</p>
    </div>
  </div>

  <div class="well">Well, well, well. Looks like we have a bootstrap well.</div>

  <div class="row">
    <div class="col-md-4">
      <p class="text-right">"Good heavens!" said Ogilvy. "There's a man in it--men in it! Half roasted to death! Trying to escape!" At once, with a quick mental leap, he linked the Thing with the flash upon Mars.</p>
    </div>

    <div class="col-md-4">
      <p class="text-center">Ship and boat diverged; the cold, damp night breeze blew between; a screaming gull flew overhead; the two hulls wildly rolled; we gave three heavy-hearted cheers, and blindly plunged like fate into the lone Atlantic.</p>
    </div>

    <div class="col-md-4">
      <p class="text-left">"What did you say?" asked the Scarecrow, who did not know what she was doing. "Hil-lo, hol-lo, hel-lo!" Dorothy went on, standing this time on her right foot.</p>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <tr>
      <td>George</td>
      <td>Bush</td>
      <td>Dubya</td>
    </tr>
    <tr>
      <td>James</td>
      <td>Madison</td>
      <td>Little Jemmy</td>
    </tr>
    <tr>
      <td>Abraham</td>
      <td>Lincoln</td>
      <td>Uncle Abe</td>
    </tr>
  </table>
</div>
